{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
      "no-plusplus": 0,
      "global-require": 0,
      "react/jsx-filename-extension": 0,
      "react/jsx-closing-bracket-location": 0,
      "react/prop-types": 0,
      "react/prefer-stateless-function": 0,
      "import/no-named-as-default": 0,
      "import/no-named-as-default-member": 0,
      "object-curly-spacing": 0,
      "no-param-reassign": 0,
      "no-useless-escape": 0,
      "comma-dangle": ["error", "never"],
      "jsx-a11y/img-has-alt": 0,
      "jsx-a11y/alt-text": 0,
      "arrow-body-style": 0,
      "jsx-a11y/no-static-element-interactions": 0
    },
    "globals": {
      "fetch": false,
      "localStorage": false,
      "document": false
    }
}
