.about {
    color: white;
    height: 100%;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.contact-button {
    border-width: 1px;
    border-style: solid;
    width: 200px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background: rgb(255, 136, 136);
}
.about-us{
    margin-top: 80px;
    background: #1e66b6;
    width: 500px;
    color: white;
    padding: 85px;
}

.about-us-text {
    padding-left: 30px;
}

.about-us-title {
    font-size: 30px;
    margin-bottom: 20px;
}
