.destinations-header {
  position: fixed;
  width: 100%;
  display: flex;
  border-bottom-style: solid;
  border-bottom-color: #686868;
  color: #273d97;
  justify-content: space-between;
  background: #ffffff;
  border-width: 1px;
  padding-bottom: 10px;
  z-index: 10000000;
  padding-top: 10px;
}

.span-button-header {
  cursor: pointer;
    font-size: 20px;
    border-style: solid;
    padding-left: 5px;
    border-width: 1px;
    padding-right: 5px;
}

.span-button-header:hover {
   color: rgb(69, 197, 94);
}

.span-link {
  text-decoration: underline;
  cursor: pointer;
}
