.packageBox-display {
    width: 400px;
    height: 300px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    border-color: rgb(154, 82, 215);
    filter: saturate(0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.package-display-header {
    color: white;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    background: rgba(51, 51, 51, 0.62);
}

.short-description-display {
    padding: 20px;
    color: white;
    text-align: center;
    background: rgba(51, 51, 51, 0.62);
}

.hide {
    visibility: hidden;
}
